<nav class="navbar navbar-static-top navbar-inverse bg-inverse">
  <div class="navbar-brand">
    <a href="/">Home</a>
  </div>
  <div class="navbar-right rspace">
    <% if (locals.isLoggedIn) { %>
      <form method="get" action="/contacts/search" class="search-form">
        <div>
          <input name="q" type="search" placeholder="search" value="<%= query %>" autofocus/>
          <input type="submit" style="display: none" />
        </div>
      </form>
      <a class="btn btn-primary" href="/contacts/new">New Contact</a>
      <a class="btn btn-primary" href="/auth/logout">Log Out</a>
      <% } else { %>
        <a class="btn btn-primary" href="/auth/signup">Sign Up</a>
        <a class="btn btn-primary" href="/auth/login">Login</a>
        <% } %>
  </div>

</nav>
